<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="../public/js/main.js"></script>
    <link rel="icon" type="image/x-icon" href="../public/images/favicon.png">
  </head>
  <body>
    <nav id="mainNav">
      <ul>
          <li><a href="#" id="createAccountButton">Create An Account</a></li>
          <li><a href="#" id="loginButton">Login</a></li>
      </ul>
    </nav>
    <div class="form-popup" id="classCodeStudent">
      <form class="classCodeStudent" action="/studentAddCode" method="POST" onsubmit="closeForm()">
        <h1>Enter Teacher Code</h1>
        <input type="hidden" name="email" value="[/- email /]">

        <input type="text" placeholder="Teacher ID" name="teacherID" required>

        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
    <script>
      function closeForm() {
        document.getElementById("classCodeStudent").style.display = "none";
      }
    </script>
  </body>
</html>
