<!DOCTYPE html>
<html>
    <head>
        <title>Create an account</title>
        <link rel="stylesheet" href="../public/css/style.css">
        <script src="../public/js/main.js"></script>
        <link rel="icon" type="image/x-icon" href="../public/images/favicon.png">
        <meta charset="UTF-8">
    </head>
    <body>
        <nav id="mainNav">
            <ul>
                <li><a href="#" id="createAccountButton">Create An Account</a></li>
                <li><a href="#" id="loginButton">Login</a></li>
            </ul>
          </nav>
          <form id="accountType-form" action="/accountType" method="POST">
            <fieldset>
                <h3>Account Type</h3>
                <div class="radio-group">
                    <input type="radio" id="teacher" name="account_type" value="teacher" required>
                    <label for="teacher">Teacher</label>
                    
                    <input type="radio" id="student" name="account_type" value="student" required>
                    <label for="student">Student</label>
                </div>
                <br>
                <button type="submit">Submit</button>
            </fieldset>
        </form>

        
    </body>
</html>