<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawing graphics</title>
    <link rel="icon" type="image/x-icon" href="../public/images/favicon.png">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="../public/js/main.js"></script>

    <style>
        #container {
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            border-top: 1px solid #333;
        }

        #threejs-canvas {
            flex: 1;
            width: 70%;
            height: 70%;
            border-top: 1px solid #333;
        }

        .vector-input label {
            margin-right: 5px;
        }

        #input-container {
            padding: 10px;
        }
    </style></head>
<body>
  [/ if (role == "Student") { /]
    <nav id="studentNav">
      <ul>
          <li class="dropdown">
              <a href="#" id="questionsButton">Questions</a>
              <div class="dropdown-content">
                  <a href="#" id="intersectionButton">Intersection</a>
                  <a href="#" id="distanceButton">Distance</a>
                  <a href="#" id="planesButton">Planes</a>
              </div>
          </li>
          <li><a href="#" id="StudentprogressButton">Progress</a></li>
          <li><a href="#" id="drawButton">Draw Vector</a></li>
          <li class="dropdown">
              <a href="#" id="profileButton">Profile - [/- email /]</a>
              <div class="dropdown-content">
                  <a href="#" id="StudentprofileButton">View Profile</a>
                  <a href="#" id="logoutButton">Logout</a>
              </div>
          </li>
        </ul>
  </nav>
  [/ } else { /]
    <nav id="teacherNav">
      <ul>
          <li><a href="#" id="ClassprogressButton">Class Progress</a></li>
          <li><a href="#" id="drawButton">Draw Vector</a></li>
          <li class="dropdown">
              <a href="#" id="profileButton">Profile - [/- email /]</a>
              <div class="dropdown-content">
                  <a href="#" id="Teacherprofilebutton">View Profile</a>
                  <a href="#" id="logoutButton">Logout</a>
              </div>
          </li>
      </ul>
    </nav>
  [/ } /]


    <div id="input-container">
        <label>Vector Equation (Line 1):</label>
        <div class="vector-input">
            <label>(x: ), (y: ), (z: ) + (a: ), (b: ), (c: )</label>
            <br>
            <label>X:</label>
            <input type="number" id="xline" value="0">
            <label>Y:</label>
            <input type="number" id="yline" value="0">
            <label>Z:</label>
            <input type="number" id="zline" value="0">
            <label>a:</label>
            <input type="number" id="aline" value="1">
            <label>b:</label>
            <input type="number" id="bline" value="0">
            <label>c:</label>
            <input type="number" id="cline" value="0">
        </div>
    </div>

    <div id="container">
        <div id="threejs-canvas"></div>
    </div>

    <script src="../public/js/three.js"></script>
    <script src="../public/js/graphics.js"></script>
    
</body>
</html>
