<!DOCTYPE html>
<html>
  <head>
    <title>Your Template</title>
    <link rel="icon" type="image/x-icon" href="../public/images/favicon.png">
    <meta charset="UTF-8">
  </head>
  <body>
    [/ if (errorMessage) { /]
      <p style="color: red;">[/- errorMessage /]</p>
    [/ } /]
    <p>Draw</p>
    <div id="threejs-container"></div>

    <!-- <script src="../public/js/threejs-scene.js" type="module"></script> -->
    <script src="../public/dist/plane.js"></script>

  </body>
</html>