<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="../public/js/main.js"></script>
    <link rel="icon" type="image/x-icon" href="../public/images/favicon.png">
    <title>3D Vector learning tool</title>
</head>
<body>
    [/ if (role == "Student") { /]
        <nav id="studentNav">
          <ul>
              <li class="dropdown">
                  <a href="#" id="questionsButton">Questions</a>
                  <div class="dropdown-content">
                      <a href="#" id="intersectionButton">Intersection</a>
                      <a href="#" id="distanceButton">Distance</a>
                      <a href="#" id="planesButton">Planes</a>
                  </div>
              </li>
              <li><a href="#" id="StudentprogressButton">Progress</a></li>
              <li><a href="#" id="drawButton">Draw Vector</a></li>
              <li class="dropdown">
                  <a href="#" id="profileButton">Profile - [/- email /]</a>
                  <div class="dropdown-content">
                      <a href="#" id="StudentprofileButton">View Profile</a>
                      <a href="#" id="logoutButton">Logout</a>
                  </div>
              </li>
            </ul>
      </nav>
      [/ } else { /]
        <nav id="teacherNav">
            <ul>
                <li><a href="#" id="ClassprogressButton">Class Progress</a></li>
                <li><a href="#" id="drawButton">Draw Vector</a></li>
                <li class="dropdown">
                    <a href="#" id="profileButton">Profile - [/- email /]</a>
                    <div class="dropdown-content">
                        <a href="#" id="Teacherprofilebutton">View Profile</a>
                        <a href="#" id="ViewStudents">View Students</a>
                        <a href="#" id="ChangeYourPassword">Change Your Password</a>
                        <a href="#" id="DeleteStudent">Delete A Student</a>
                        <a href="#" id="logoutButton">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
      [/ } /]
</body>
</html>
