<!DOCTYPE html>
<html>
    <head>
        <title>Intersection Questions</title>
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="icon" type="image/x-icon" href="../public/images/favicon.png">
        <script src="../public/js/main.js"></script>
    </head>
    <body>
        <nav id="studentNav">
            <ul>
                <li class="dropdown">
                    <a href="#" id="questionsButton">Questions</a>
                    <div class="dropdown-content">
                        <a href="#" id="intersectionButton">Intersection</a>
                        <a href="#" id="distanceButton">Distance</a>
                        <a href="#" id="planesButton">Planes</a>
                    </div>
                </li>
                <li><a href="#" id="progressButton">Progress</a></li>
                <li><a href="#" id="drawButton">Draw Vector</a></li>
                <li><a href="#" id="profileButton">Profile - [/- email /]</a></li>
            </ul>
        </nav>
        <h1>Intersection Questions</h1>
        
        [/ if (result) { /]
            <p>[/- result /]</p>
            <p>Would you like to answer another question?</p>
           <a href="/intersection-questions" id="repeatButton-Yes">Yes</a>
            <a href="/vector-questions" id="repeatButton-No">No</a>
        [/ } else { /]
            <p>[/- vector1 /]</p>
            <p>[/- vector2 /]</p>
            <p>[/- coordinates /]</p>

            <form action="/intersection-check-answer" method="POST">
                <input type="hidden" id="vector1" name="vector1" value="[/- vector1 /]">
                <input type="hidden" id="vector2" name="vector2" value="[/- vector2 /]">
                <input type="hidden" id="coordinates" name="coordinates" value="[/- coordinates /]">

                <label for="userInput">Enter Coordinates:</label>
                <input type="text" id="userInput" name="userInput" required>
                <button type="submit">Check Answer</button>
            </form>
        [/ } /]
        
        
    </body>
</html>
