<!DOCTYPE html>
<html>
    <head>
        <title>Other Forms</title>
        <link rel="icon" type="image/x-icon" href="../public/images/favicon.png">
        <meta charset="UTF-8">
    </head>
    <!-- views/login.ejs -->
    <body>
        <p>Your email: <%= email %></p>

        <form id="changePassword-form" action="/update" method="POST">
            <fieldset>
              <h3>Change password</h3>
              <label>Email</label>
              <input type ="text" id = 'email' name="email" required>
              <br><br>
              <label>Old Password</label>
              <input type = "password" id = 'oldpassword' name = "oldpassword" required>
              <br><br>
              <label>New Password</label>
              <input type="password" id = "password1" name="password1" required>
              <br><br>
              <label>Re-enter New Password</label>
              <input type = "password" id = "password2" name="password2" required>
              <br><br>
              <button type ="reset">Reset</button>
              <button type ="submit">Submit</button>
            </fieldset>
           </form>

        <form id="deleteAccount-form" action="/delete" method="POST">
            <fieldset>
                <h3>Delete account</h3>
                <label>Email</label>
                <input type = "text" id = 'email' name="email" required>
                <br><br>
                <label>Password</label>
                <input type = "password" id = 'password1' name ="password1" required>
                <br><br>
                <label>Re Enter Password</label>
                <input type = "password" id = 'password2' name = "password2" required>
                <br><br>
                <button type = "reset">Reset</button>
                <button type = "submit">Submit</button>
            </fieldset>
        </form>
    </body>

</html>