<!DOCTYPE html>
<html>
    <head>
        <Title>Profile</Title>
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="icon" type="image/x-icon" href="../public/images/favicon.png">
        <script src="../public/js/main.js"></script>
    </head>
    <body>
        <nav id="studentNav">
            <ul>
                <li class="dropdown">
                    <a href="#" id="questionsButton">Questions</a>
                    <div class="dropdown-content">
                        <a href="#" id="intersectionButton">Intersection</a>
                        <a href="#" id="distanceButton">Distance</a>
                        <a href="#" id="planesButton">Planes</a>
                    </div>
                </li>
                <li><a href="#" id="StudentprogressButton">Progress</a></li>
                <li><a href="#" id="drawButton">Draw Vector</a></li>
                <li class="dropdown">
                    <a href="#" id="profileButton">Profile - [/- email /]</a>
                    <div class="dropdown-content">
                        <a href="#" id="StudentprofileButton">View Profile</a>
                        <a href="#" id="logoutButton">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>

        <h1>Student Profile</h1>
        <h2>Hi, [/- forename /] [/- surname /]</h2>
    </body>
</html>