<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../public/css/style.css">
    <script src="../public/js/main.js"></script>
    <link rel="icon" type="image/x-icon" href="../public/images/favicon.png">
    <title>3D Vector learning tool</title>
</head>
<body>
    <nav id="studentNav">
        <ul>
            <li><a href="#" id="questionsButton">Questions</a></li>
            <li><a href="#" id="progressButton">Progress</a></li>
            <li><a href="#" id="drawButton">Draw Vector</a></li>
            <li><a href="#" id="profileButton">Profile</a></li>
        </ul>
    </nav>
</body>
</html>
