<!DOCTYPE html>
<html>
    <head>
        <Title>Profile</Title>
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="icon" type="image/x-icon" href="../public/images/favicon.png">
        <script src="../public/js/main.js"></script>
    </head>
    <body>
        <nav id="teacherNav">
            <ul>
                <li><a href="#" id="ClassprogressButton">Class Progress</a></li>
                <li><a href="#" id="drawButton">Draw Vector</a></li>
                <li class="dropdown">
                    <a href="#" id="profileButton">Profile - [/- email /]</a>
                    <div class="dropdown-content">
                        <a href="#" id="Teacherprofilebutton">View Profile</a>
                        <a href="#" id="logoutButton">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    

        <h1>Teacher Profile</h1>
        <h2>Hi, [/- forename /] [/- surname /]</h2>
        <h3>Here is your classcode to share with students !!</h3>
        <p>Get options to change password for an account</p>
        <p>View a table of all students details</p>
        <p>Change a students password</p>
        <p>Delete a student</p>
        <p>Add a student</p>
        
    </body>
</html>