nav#mainNav {
    background-color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

nav#studentNav{
    background-color: #0a3273;
}

nav#teacherNav{
    background-color: #063061;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cee7ff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #000; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0a3273;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#questionsButton:hover {
    background-color: #111;
}

#classCodeStudent {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #f1f1f1;
    z-index: 9;
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

#classCodeStudent input[type="text"] {
    width: 90%;
    padding: 15px;
    margin: 10px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

#classCodeStudent .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

#classCodeStudent .btn:hover {
    opacity: 1;
}


#repeatButton-Yes {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

#repeatButton-No {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center; 
}

.chart-item {
    flex: 1 0 200px;
    margin: 10px;
    text-align: center;
}

#registration-container,
#login-form,
#accountType-form {
    max-width: 450px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

#registration-container h3,
#login-form h3,
#accountType-form h3 {
    text-align: center;
    color: #333;
}

#registration-container label,
#login-form label,
#accountType-form label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

#registration-container input,
#login-form input,
#accountType-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#registration-container button,
#login-form button,
#accountType-form button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #04AA6D;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#registration-container button[type="reset"],
#login-form button[type="reset"],
#accountType-form button[type="reset"] {
    background-color: #ccc;
    margin-right: 10px;
}

#registration-container button:hover,
#login-form button:hover,
#accountType-form button:hover {
    opacity: 0.9;
}

#accountType-form .radio-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the radio button labels horizontally */
}

#accountType-form input {
    margin-bottom: 5px;
}

#accountType-form label {
    margin-bottom: 10px;
    text-align: center; /* Center the radio button labels */
}

